streamlit
langchain_classic
langchain_community
langchain_core
langchain_huggingface
langchain_ollama
langchain_text_splitters
pandas
sentence-transformers
transformers
torch
chromadb
huggingface-hub
pypdf
langchain-chroma